lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
test-logs


# Coverage reports
coverage
test-logs

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components


# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
.build

# Ignore the config file
config/test-settings.json

# Ignore the node_modules dir.
node_modules

# Ignore the test results file
TEST_RESULTS.json

# screenshots dir
screenshots