lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
.build

# Ignore the config file
config/test-settings.json